<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" parallel="false">
  <test name="Test">
  <parameter name="test1" value="20"></parameter>
  <parameter name="test2" value="40"></parameter>
    <classes>
      <class name="canshuhua.yunsuanTesng"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
